<!doctype html>

<html lang="en">

   <head>
  
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

       <!-- Own CSS -->
       <link rel="stylesheet" href="/static/styles.css"> 
    
       <!-- Fontawesome icons -->
       <link rel="stylesheet" href="/static/fontawesome-free-5.15.1-web/css/fontawesome.css">
       <link rel="stylesheet" href="/static/fontawesome-free-5.15.1-web/css/brands.css">
       <link rel="stylesheet" href="/static/fontawesome-free-5.15.1-web/css/solid.css">
    
       <!-- Google fonts -->
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    
       <!-- Optional JavaScript -->
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
       <!-- mobile first bootstrap -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
    

    </head>
    
    
    <body>

        <nav class="navbar navbar-expand-md navbar-light border sticky-top" style="background-color: #EDEDED;">
            <a class="navbar-brand" style="font-family: 'Playfair Display'; font-size: xx-large; font-weight: bold; color: #1F3044;" href="/">Ryan Blanchette</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            	<ul class="navbar-nav mr-auto mt-2">
            	    <li class="nav-item">
            	        <a class="nav-link" id="{{ id }}-nav-link" href="/home">Home</a>
            	    </li>
            	    <li class="nav-item">
            	        <a class="nav-link" id="{{ id }}-nav-link" href="/portfolio">Portfolio</a>
            	    </li>
            	    <!--
            	    <li class="nav-item">
            	        <a target="_none" class="nav-link" id="blog-nav-link" href="https://medium.com/@jblanche1325">Blog</a>
            	    </li>
            	    -->
            	    <li class="nav-item">
            	        <a class="nav-link" id="{{ id }}-nav-link" href="/about">About me</a>
            	    </li>
            	    <li class="nav-item">
            	        <a target="_none" class="nav-link" id="resume-nav-link" href="/static/resume.pdf">Resume</a>
            	    </li>
            	</ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a target="_none" href="https://www.linkedin.com/in/ryanblanchette13/" onclick="window.open('https://www.linkedin.com/in/ryanblanchette13/')" class="nav-link d-flex flex-column" data-toggle="collapse">
                            <span class="fab fa-linkedin fa-lg"></span>
                            <!--<span class="d-none d-sm-inline mt-1">LinkedIn</span>-->
                	 </a>
            	    </li>
                   <li class="nav-item">
                	 <a target="_none" href="https://github.com/jblanche1325/" onclick="window.open('https://github.com/jblanche1325/')" class="nav-link d-flex flex-column" data-toggle="collapse">
                    	     <span class="fab fa-github fa-lg"></span>
                    	     <!--<span class="d-none d-sm-inline mt-1">GitHub</span>-->
                	 </a>
            	   </li>
            	   <li class="nav-item">
                	 <a target="_none" href="https://untappd.com/user/jblanche1325" onclick="window.open('https://untappd.com/user/jblanche1325')" class="nav-link d-flex flex-column" data-toggle="collapse">
                    	     <span class="fas fa-beer fa-lg"></span>
                    	     <!--<span class="d-none d-sm-inline mt-1">Untappd</span>-->
                	 </a>
            	   </li>
            	   
        	</ul>
    	    </div>
        </nav>
       

        {% block content %}{% endblock %}

    
       <footer class="small text-center text-muted" style="background-color: #1F3044;">
           <p class="copyright">Copyright &copy; 2020 | Ryan Blanchette</p>
       </footer>


    </body>
</html>
