{% extends "layout.html" %}

{% block content %}

<div class="container-fluid" id="{{ id }}-title">
    <div class="row">
        <div class="col-sm-2 d-flex flex-column justify-content-center text-center">
        </div>
        <div class="col-sm-5 d-flex flex-column justify-content-center text-center">
            <h1 class="text-sm-center" style="font-family: 'Playfair Display';">Portfolio</h1>
            <p class="text-sm-center">Below I have listed my data science projects with links to their code, blog post, and (if applicable) publication.</p>
        </div>
        <div class="col-sm-5">
            <img src="/static/generic_data_pic.png" class="mx-auto d-block" alt="October 2019" id="portfolio-picture" >
        </div>
    </div>
</div>
<div class="row">
	<div class="container-fluid">
        <div class="row portfolio-row justify-content-center">
        
            <div class="col-12 col-md-5">
                <div class="text-center-ad">
                    <h2 style="color: #EDEDED;">Predicting Alzheimer's Disease Using Driving Simulator Data</h2>
                    <p style="color: #EDEDED;">IEEE published study using driving simulator data to classify Alzheimer's participants and non-Alzheimer's participants</p>
                    <p style="color: #EDEDED;">Skills used: R, classification, Randomforest, research
                </div>
                <div class="row justify-content-center" id="portfolio-ad-picture">
                    <img class="image" src="/static/AD_EMB_Importance.png">
                    <div class="ad-middle-paper">
                    	<a target="_none" href="/static/EMBS20_0790_Final.pdf">
                    		<div class="portfolio-middle-text">Paper</div>
                    	</a>
                    </div>
                    <div class="ad-middle-pub">
                    	<a target="_none" href="https://ieeexplore.ieee.org/document/9176118">
                    		<div class="portfolio-middle-text">Publication</div>
                    	</a>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-5">
                <div class="text-center-hospital">
                    <h2 style="color: #EDEDED;">Knoxville Area Hospital</h2>
                    <h2 style="color: #EDEDED;">Google Reviews</h2>
                    <p style="color: #EDEDED;">Simple dashboard for text analysis of Google Reviews of Covenant Health hospitals using Dash, Plotly, and NLTK</p>
                    <p style="color: #EDEDED;">Skills used: Python, NLP, Dash, Plotly
                </div>
                <div class="row justify-content-center" id="portfolio-hospital-picture">
                    <img class="image" src="/static/Hospital_Bar_Plot.png">
                    <div class="hospital-middle-code">
                    	<a target="_none" href="https://github.com/jblanche1325/Hospital_Google_Reviews">
                    		<div class="portfolio-middle-text">Code</div>
                		</a>
                    </div>
                    <div class="hospital-middle-dashboard">
                    	<a target="_none" href="https://hospital-google-reviews.herokuapp.com/">
                    		<div class="portfolio-middle-text">Dashboard</div>
                		</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="container-fluid">
        <div class="row portfolio-row justify-content-center">
            
            <div class="col-12 col-md-5">
                <div class="text-center-hospital">
                    <h2 style="color: #EDEDED;">Forecasting Hourly</h2>
                    <h2 style="color: #EDEDED;">Water Temperatures</h2>
                    <p style="color: #EDEDED;">Project for Industrial Engineering course forecasting water temperatures of 4 TVA sites</p>
                    <p style="color: #EDEDED;">Skills used: Python, R, Research, Time Series Forecasting
                </div>
                <div class="row justify-content-center" id="portfolio-tva-picture">
                    <img class="image" src="/static/TN_Map.png">
                    <div class="tva-middle-code">
                    	<a target="_none" href="https://github.com/jblanche1325/Water_Temp_Forecasting">
                    		<div class="portfolio-middle-text">Code</div>
                		</a>
                    </div>
                    <div class="tva-middle-paper">
                    	<a target="_none" href="/static/Water_Temp_Forecasting.pdf">
                    		<div class="portfolio-middle-text">Paper</div>
                		</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
</div>



{% endblock %}
